<h1>Flights Index</h1>

<ul>
  <% @flights.each do |flight| %>
    <section id="flight-<%= flight.id %>">
      <li><%= flight.number %> - <%= flight.airline.name %></li>
        <ul>
          <% flight.passengers.each do |passenger| %>
            <div id="passenger-<%= passenger.id %>">
              <li>
                <%= passenger.name %>
                <%= button_to "Remove #{passenger.name}", flight_passenger_path(flight, passenger), method: :delete %>
              </li>
            </div>
          <% end %>
        </ul>
    </section>
  <% end %>
</ul>